* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: 100ms ease-in;
  transition: 100ms ease-in;
}

*::-webkit-scrollbar {
  width: 4px;
}

*::-webkit-scrollbar-track {
  background-color: transparent;
}

:root {
  font-size: 14px;
}

a {
  text-decoration: none;
}

body {
  background-color: #232937;
  color: #e4f0fc;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

.button {
  background-color: #31ae84;
  border: none;
  cursor: pointer;
  color: #e4f0fc;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 10px 15px;
  outline: none;
  right: 0;
  top: 0;
}

.button:hover {
  -webkit-filter: grayscale(50%);
  filter: grayscale(50%);
}

.button-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.button-area div,
.button-area a {
  border: none;
  cursor: pointer;
  display: inline;
  outline: none;
  padding: 10px 15px;
}

.button-area div:hover,
.button-area a:hover {
  -webkit-filter: grayscale(30%);
  filter: grayscale(30%);
}

.circle {
  border-radius: 50%;
  display: block;
  height: 15px;
  position: absolute;
  right: 10px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 15px;
  z-index: 4;
}

.circle-cl-g {
  background-color: #f13b3b;
}

.circle-cl-r {
  background-color: #19f119;
}

.circle-cl-y {
  background-color: yellow;
}

.circle:nth-child(2) {
  margin-right: 17px;
}

.circle:nth-child(3) {
  margin-right: 34px;
}

.ew-navbar {
  background-color: #1a1e28;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 1fr;
  grid-template-columns: auto 1fr;
  min-height: 70px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 10;
}

.ew-navbar_brand,
.ew-navbar_text {
  margin: auto 0;
}

.ew-navbar_brand img {
  height: 45%;
  margin-left: 20px;
  max-height: 30px;
}

.ew-navbar_text {
  font-size: 1.2rem;
  margin-left: 1rem;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 10px;
}

.float-notif {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  bottom: 20px;
  right: 20px;
  z-index: 9;
}

.float-notif_message {
  -webkit-animation: loading 400ms;
  animation: loading 400ms;
  background-color: #1f2430;
  border-right: 3px solid #31ae84;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin: 0px 20px 20px 0px;
  max-width: calc(100% - 70px);
  padding: 10px 20px;
  position: relative;
  right: 0;
  width: 100%;
  max-width: 250px;
}

.float-notif_message::after {
  content: "";
  border: 10px solid transparent;
  border-right: 10px solid #31ae84;
  position: absolute;
  right: 0;
  top: 15px;
}

.float-notif_message .inmessage {
  background-color: #1a1e28;
  border-radius: 5px;
  color: #7290aa;
  font-style: italic;
  padding: 2px 5px;
}

.float-notif_header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: bold;
  font-style: oblique;
  padding: 7px 0px;
  position: relative;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.float-notif_exit {
  cursor: pointer;
  height: 20px;
  position: relative;
  top: 0;
  right: 0;
  width: 20px;
}

.float-notif_exit span {
  background-color: #e4f0fc;
  display: block;
  height: 14px;
  position: absolute;
  -webkit-transform: translate(-50%, -50%) rotate(-45deg);
  transform: translate(-50%, -50%) rotate(-45deg);
  top: 50%;
  left: 50%;
  width: 3px;
  z-index: 9;
}

.float-notif_exit span.left {
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
  transform: translate(-50%, -50%) rotate(45deg);
}

.float-notif_exit spanhover {
  -webkit-filter: opacity(50%);
  filter: opacity(50%);
}

.howto {
  color: #7290aa;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 10;
}

.howto:hover,
.howto *:hover {
  -webkit-filter: none !important;
  filter: none !important;
}

.howto:hover .howto-note::after {
  width: calc(78% - 4px);
}

.howto-message {
  position: relative;
  padding: unset;
}

.howto-float * {
  cursor: default !important;
}

.howto-float {
  display: none !important;
  top: 34px;
  left: -175px;
  position: absolute;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  z-index: 3;
}

.howto-float.on {
  display: block !important;
}

.howto-float.animation-show {
  -webkit-animation: show 400ms;
  animation: show 400ms;
}

.howto-float_content {
  background-color: #1f2430;
  display: block !important;
  position: relative;
  width: 250px;
  z-index: 1;
  padding: 0.6rem 0.8rem !important;
}

.howto-float_content code {
  background-color: #1a1e28;
  border-radius: 4px;
  padding: 0.2rem 0.4rem;
  line-height: 2rem;
}

.howto-float_content::after {
  content: "";
  border: 15px solid transparent;
  border-bottom: 15px solid #1f2430;
  position: absolute;
  top: -30px;
  left: 180px;
  z-index: 7;
}

.howto-note {
  padding: 0 !important;
  position: relative;
  -webkit-text-decoration: dotted;
  text-decoration: dotted;
  -webkit-text-decoration-color: inherit;
  text-decoration-color: inherit;
  z-index: 2;
}

.howto-note::before {
  content: "howto(?)";
}

.howto-note::after {
  content: "";
  background-color: #7290aa;
  bottom: -2px;
  height: 1.6px;
  left: 2px;
  position: absolute;
  -webkit-transition: width 200ms ease-in;
  transition: width 200ms ease-in;
  width: 0;
}

.inside {
  display: -ms-grid;
  display: grid;
  width: 100%;
  -ms-grid-columns: minmax(auto, max-content) 1fr;
  grid-template-columns: minmax(auto, -webkit-max-content) 1fr;
  grid-template-columns: minmax(auto, max-content) 1fr;
}

.log {
  margin-top: 20px;
}

.log-area {
  background-color: #1a1e28;
  color: #7290aa;
  font-size: 0.9rem;
  min-height: calc(1rem + 20px);
  max-height: 250px;
  overflow-y: auto;
  padding: 10px;
}

.log-area div {
  -webkit-animation: loading 400ms;
  animation: loading 400ms;
  padding: 3px 0px;
}

.log-area div span {
  border-radius: 10px;
  color: #e4f0fc;
  background-color: #31ae84;
  padding: 2px 7px;
}

.log-header {
  position: relative;
}

.log,
.raw {
  width: 100%;
}

.log-area,
#post,
.preview,
.raw-output {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.post {
  background-color: #1a1e28;
  border: none;
  border-left: 10px solid #43675b;
  color: #e4f0fc;
  font-family: Arial, Helvetica, sans-serif;
  outline: none;
  resize: none;
}

.post::-webkit-input-placeholder {
  color: #7290aa;
}

.post:-ms-input-placeholder {
  color: #7290aa;
}

.post::-ms-input-placeholder {
  color: #7290aa;
}

.post::placeholder {
  color: #7290aa;
}

.post,
.post .preview {
  font-size: 1rem;
  min-height: 20vh;
  padding: 20px;
  position: relative;
  width: 100%;
}

.postcounter {
  background-color: #31ae84;
  border-radius: 5px;
  display: inline;
  padding: 0 10px;
}

.project {
  height: calc(100vh - 70px);
  overflow-y: auto;
  padding: 0px 20px;
  padding-bottom: 40px;
  position: relative;
}

.project .header {
  background-color: #232937;
  padding: 20px;
  position: -webkit-sticky;
  position: sticky;
  text-align: center;
  top: 0;
  z-index: 9;
}

.preview {
  background-color: #191919;
  border-top: 5px solid #31ae84;
  color: #e4f0fc;
  height: 100%;
  max-width: unset;
  overflow-y: auto;
  padding: 20px;
  padding-top: 20px;
  position: relative;
  width: 100%;
}

.preview::after {
  content: "Preview";
  background-color: #31ae84;
  color: #e4f0fc;
  font-size: 0.8rem;
  border-radius: 0px 0px 5px 5px;
  padding: 10px;
  position: absolute;
  top: 0;
  right: 5px;
}

.preview h1,
.preview h2,
.preview h3,
.preview h4,
.preview h5,
.preview h6 {
  border-left: 5px solid #df4577;
  padding-left: 10px;
  z-index: 0;
}

.preview-image {
  max-height: 150px;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: bottom;
  object-position: bottom;
  width: 100%;
}

.raw-output {
  background-color: #1a1e28;
  border: none;
  border-left: 10px solid #43675b;
  color: #e4f0fc;
  cursor: default;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  min-height: 150px;
  outline: none;
  padding: 20px;
  resize: none;
  width: 100%;
}

.raw-output::-webkit-input-placeholder {
  color: #7290aa;
}

.raw-output:-ms-input-placeholder {
  color: #7290aa;
}

.raw-output::-ms-input-placeholder {
  color: #7290aa;
}

.raw-output::placeholder {
  color: #7290aa;
}

.raw-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.run {
  background-color: #31ae84;
}

.select-text {
  background-color: #1f2430;
  border: none;
  color: #e4f0fc;
  font-size: 1rem;
  outline: none;
  padding: 10px;
}

.sourcecode {
  background-color: #df4577;
  color: #e4f0fc;
}

.shown {
  position: absolute;
}

.shown::before {
  content: "Shown";
  background-color: rgba(228, 26, 26, 0.651);
  height: 100%;
  left: 0;
  padding-top: 100px;
  position: absolute;
  text-align: center;
  top: 0;
  width: 100%;
}

.text {
  cursor: default;
  background-color: #1f2430;
}

.text:hover {
  -webkit-filter: none;
  filter: none;
}

@-webkit-keyframes loading {
  0% {
    margin-left: 70px;
  }

  100% {
    margin-left: unset;
  }
}

@keyframes loading {
  0% {
    margin-left: 70px;
  }

  100% {
    margin-left: unset;
  }
}

@-webkit-keyframes show {
  0% {
    margin-left: -70px;
    opacity: 0;
  }

  50% {
    margin-left: 50px;
  }

  100% {
    margin-left: unset;
    opacity: 1;
  }
}

@keyframes show {
  0% {
    margin-left: -70px;
    opacity: 0;
  }

  50% {
    margin-left: 50px;
  }

  100% {
    margin-left: unset;
    opacity: 1;
  }
}

@media screen and (min-width: 1444px) {
  :root {
    font-size: 14px;
  }
}

@media screen and (max-width: 800px) {
  .howto {
    padding-right: 0 !important;
  }

  .howto-float {
    top: 34px;
    left: -185px;
  }

  .howto-note::before {
    content: "(?)";
  }

  .inside {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
}

/*# sourceMappingURL=style.css.map */