@import "./scss/global";
@import "./scss/nav";

.flex {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.float-notif {
    position: fixed;
    display: flex;
    flex-direction: column;
    bottom: 20px;
    right: 20px;
    z-index: 9;

    &_message {
        animation: loading 400ms;
        background-color: $dd-color;
        border-right: 3px solid $ac-color;
        height: fit-content;
        margin: 0px 20px 20px 0px;
        max-width: calc(100% - 70px);
        padding: 10px 20px;
        position: relative;
        right: 0;
        width: 100%;
        max-width: 250px;

        &::after {
            content: "";
            border: 10px solid transparent;
            border-right: 10px solid $ac-color;
            position: absolute;
            right: 0;
            top: 15px;
        }

        .inmessage {
            background-color: $db-color;
            border-radius: 5px;
            color: $lt-color;
            font-style: italic;
            padding: 2px 5px;
        }
    }

    &_header {
        display: flex;
        font-weight: bold;
        font-style: oblique;
        padding: 7px 0px;
        position: relative;
        justify-content: space-between;
    }

    &_exit {
        cursor: pointer;
        height: 20px;
        position: relative;
        top: 0;
        right: 0;
        width: 20px;

        & span {
            background-color: $tx-color;
            display: block;
            height: 14px;
            position: absolute;
            transform: translate(-50%, -50%) rotate(-45deg);
            top: 50%;
            left: 50%;
            width: 3px;
            z-index: 9;

            &.left {
                transform: translate(-50%, -50%) rotate(45deg);
            }

            &hover {
                filter: opacity(50%);
            }
        }
    }
}

.howto {
    color: $lt-color;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2rem;

    &:hover {
        .howto-float {
            animation: show 400ms;
            display: block !important;
        }
    }

    &:hover,
    *:hover {
        filter: none !important;
    }

    &:hover &-note::after {
        width: calc(78% - 4px);
    }

    &-message {
        position: relative;
        padding: unset;
    }

    &-float * {
        cursor: default !important;
    }

    &-float {
        display: none !important;
        top: 3rem;
        left: -190px;
        position: absolute;
        height: fit-content;
        z-index: 3;

        &.on {
            display: block !important;
        }

        &.animation-show {
            animation: show 400ms;
        }

        &_content {
            background-color: $dd-color;
            display: block !important;
            position: relative;
            width: 250px;
            z-index: 1;
            padding: 0.6rem 0.8rem !important;

            code {
                background-color: $db-color;
                border-radius: 4px;
                padding: 0.2rem 0.4rem;
                line-height: 2rem;
            }

            &::after {
                content: "";
                border: 15px solid transparent;
                border-bottom: 15px solid $dd-color;
                position: absolute;
                top: -30px;
                left: 210px;
                z-index: 7;
            }

            hr {
                margin-right: 80px;
                margin-bottom: 15px;
            }
        }
    }

    &-note {
        padding: 0 !important;
        position: relative;
        text-decoration: dotted;
        text-decoration-color: inherit;
        z-index: 2;

        &::before {
            content: "howto(?)";
        }

        &::after {
            content: "";
            background-color: $lt-color;
            bottom: -2px;
            height: 1.6px;
            left: 2px;
            position: absolute;
            transition: width 200ms ease-in;
            width: 0;
        }
    }
}

.hidden {
    position: absolute;
    z-index: -1;
}

.inside {
    display: grid;
    width: 100%;
    grid-template-columns: minmax(auto, max-content) 1fr;
}

.log {
    margin-top: 20px;

    &-area {
        background-color: $db-color;
        color: $lt-color;
        font-size: 0.9rem;
        min-height: calc(1rem + 20px);
        max-height: 250px;
        overflow-y: auto;
        padding: 10px;

        div {
            animation: loading 400ms;
            padding: 3px 0px;

            span {
                border-radius: 10px;
                color: $tx-color;
                background-color: $ac-color;
                padding: 2px 7px;
            }
        }
    }

    &-header {
        position: relative;
    }

}

.log,
.raw {
    width: 100%;
}

.log-area,
#post,
.preview,
.raw-output {
    height: fit-content;
}

.preload {
    align-items: center;
    background-color: $bg-color;
    height: 100vh;
    justify-content: center;
    left: 0;
    position: absolute;
    transition: 1s ease;
    top: 0;
    width: 100vw;
    z-index: 20;

    &_brand {
        bottom: 25px;
        height: fit-content;
        left: 50%;
        position: absolute;
        transform: translateX(-50%);
        width: fit-content;

        img {
            height: auto;
            width: 45px !important;
        }
    }

    &-loading {
        left: 50%;
        position: absolute;
        transform: translate(-50%, -50%);
        top: 50%;
        width: 80px;
    }
}

.loading-bar {
    animation: loadingbar 3000ms infinite;
    background-color: $ac-color;
    display: block;
    height: 30px;
    margin-bottom: 2px;
    width: 70px;
}

.loading-text {
    color: $lt-color;
    letter-spacing: 4px;
}

.loading-bar:nth-of-type(1) {
    animation: loadingbar 2500ms infinite;
}

.loading-bar:nth-of-type(2) {
    animation: loadingbar 1300ms infinite;
}

.post {
    background-color: $db-color;
    border: none;
    border-left: 10px solid $ld-color;
    color: $tx-color;
    font-family: Arial, Helvetica, sans-serif;
    outline: none;
    resize: none;

    &::placeholder {
        color: $lt-color;
    }

    &,
    .preview {
        font-size: 1rem;
        min-height: 20vh;
        padding: 20px;
        position: relative;
        width: 100%;
    }

    &counter {
        background-color: $ac-color;
        border-radius: 5px;
        display: inline;
        padding: 0 10px;
    }
}

.project {
    height: calc(100vh - 70px);
    overflow-y: auto;
    padding: 0px 20px;
    padding-bottom: 40px;
    position: relative;

    & .header {
        background-color: $bg-color;
        padding: 20px;
        position: sticky;
        text-align: center;
        top: 0;
        z-index: 9;
    }
}

.preview {
    background-color: $dd-color;
    border-top: 5px solid $ac-color;
    color: $tx-color;
    height: 100%;
    max-width: unset;
    overflow-y: auto;
    padding: 20px;
    padding-top: 20px;
    position: relative;
    width: 100%;

    &::after {
        content: "Preview";
        background-color: $ac-color;
        color: $tx-color;
        font-size: 0.8rem;
        border-radius: 0px 0px 5px 5px;
        padding: 10px;
        position: absolute;
        top: 0;
        right: 5px;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        border-left: 5px solid $lr-color;
        padding-left: 10px;
        z-index: 0;
    }

    &-image {
        max-height: 150px;
        object-fit: cover;
        object-position: bottom;
        width: 100%;
    }
}

.raw {

    &-output {
        background-color: $db-color;
        border: none;
        border-left: 10px solid $ld-color;
        color: $tx-color;
        cursor: default;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 1rem;
        min-height: 150px;
        outline: none;
        padding: 20px;
        resize: none;
        width: 100%;

        &::placeholder {
            color: $lt-color;
        }
    }

    &-header {
        display: flex;
    }
}

.run {
    background-color: $bt-color;
}

.select-text {
    background-color: $dd-color;
    border: none;
    color: $tx-color;
    font-size: 1rem;
    outline: none;
    padding: 10px;
}

.sourcecode {
    background-color: $lr-color;
    color: $tx-color;
}

.shown {
    position: absolute;

    //temporary
    &::before {
        content: "Shown";
        background-color: rgba(228, 26, 26, 0.651);
        height: 100%;
        left: 0;
        padding-top: 100px;
        position: absolute;
        text-align: center;
        top: 0;
        width: 100%;
    }
}

.text {
    cursor: default;
    background-color: $dd-color;

    &:hover {
        filter: none;
    }
}

@keyframes loading {
    0% {
        margin-left: 70px;
    }

    100% {
        margin-left: unset;
    }
}

@keyframes show {
    0% {
        margin-left: -70px;
        opacity: 0;
    }

    50% {
        margin-left: 50px;
    }

    100% {
        margin-left: unset;
        opacity: 1;
    }

}

@keyframes loadingbar {
    0% {
        width: 0;
    }

    20% {
        width: 15px;
    }

    30% {
        width: 35px;
    }

    45% {
        width: 23px;
    }

    60% {
        width: 50px;
    }

    70% {
        width: 45px;
    }

    100% {
        width: 70px;
    }
}

@media screen and (min-width: 1444px) {
    :root {
        font-size: 14px;
    }
}

@media screen and (max-width: 800px) {
    .howto {
        padding-right: 0 !important;

        &-float {
            top: 34px;
            left: -215px;
        }

        &-note::before {
            content: "(?)";
        }
    }

    .inside {
        grid-template-columns: 1fr;
    }
}