.container {
  // max-width: 80rem;
  margin: auto;
  height: 100%;
  width: 100%;
  padding: 2em;
}

::selection {
  @extend .highlight-background_dim;
}

.flex {
  display: flex;
}

.temp {
  outline: 2px solid red;
}

.accent-background {
  background-color: var(--accent);
}

.accent-color {
  color: var(--accent);
}

.skipto {
  @extend .highlight;

  position: fixed;
  left: 0;
  top: 0;
  padding: 0.5em;
  transform: translateY(-120%);
  transition: transform 200ms ease;
  z-index: 10;

  &:focus {
    transform: translateY(0);
  }
}

.highlight {
  &:hover::before,
  &:focus::before {
    transform: scaleX(1);
  }

  &-color {
    color: var(--highlight);

    &_dim {
      color: var(--highlight-dim);
    }
  }

  &-background {
    background-color: var(--highlight);

    &_dim {
      background-color: var(--highlight-dim);
    }

    &.highlight-href,
    &_dim.highlight-href {
      position: relative;

      &:is(:hover, :focus)::before {
        width: 100%;
      }

      &::before {
        content: "";
        bottom: -0.4em;
        left: -0.4em;
        position: absolute;
        width: 0%;
        background-color: #000;
        height: 0.3em;
        transition: width 200ms ease-in;
      }
    }
  }

  &::before {
    content: "";
    @extend .highlight-background_dim;

    position: absolute;
    left: -10%;
    right: 0;
    top: 0;
    bottom: 0;
    width: 120%;
    height: 100%;
    z-index: -1;
    transform: scaleX(0);
    transition: transform 200ms ease;
  }
}

.body {
  @extend .flex;

  flex-direction: column;
  font-size: clamp(1rem, 1vw, 5rem);
  line-height: 1.6;
}

.sr {
  &-popup {
    visibility: hidden;
    transform: scale(0);
    left: 0;
    bottom: 0;
    pointer-events: none;
    position: absolute;
  }

  &-only {
    position: absolute;
  }
}

#canvas {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}
