.navbar {
  @extend .flex;

  flex: 0 0 auto;
  position: sticky;
  align-items: center;
  justify-content: center;
  top: 0;
  min-height: 2rem;
  width: 100%;

  &-brand {
    height: 2em;
    
    &_text {
      font-weight: 700;
    }
  }

  &-left {
    @extend .flex;
    
    align-items: center;
    position: relative;
    padding: .5rem 0;
    font-size: 1.3rem;
    transition: color 200ms ease-out;

    &:hover, &:focus {
      @extend .accent-color;
    }
  }

  &-menu {
    @extend .flex;
    position: relative;

    a {
      @extend .flex;
      @extend .highlight;
      align-items: center;
      z-index: 1;
      
    }


    &_icon {
      width: 1em;
    }
  }

  &-right {
    @extend .flex;
    
    text-transform: uppercase;
    gap: 1rem;
  }

  &-container {
    @extend .flex;
    
    justify-content: space-between;
    align-items: center;
    padding: 0 1.5rem;

    font-weight: 600;
  }

  li {
    list-style: none;
  }
}