.navbar {
  @extend .flex;

  flex: 0 0 auto;
  position: sticky;
  align-items: center;
  justify-content: center;
  top: 0;
  min-height: 2em;
  width: 100%;

  &-brand {
    height: 2em;

    &_text {
      font-weight: 700;
    }
  }

  &-left {
    @extend .flex;

    align-items: center;
    position: relative;
    padding: 0.5rem 0;
    font-size: clamp(1em, 2.1vw, 1.2em);
    transition: color 200ms ease-out;

    &:is(:hover, :focus)::before {
      transform: scaleX(1) translateY(-50%);
    }

    &::before {
      content: "";
      top: 50%;
      left: -0.45em;
      position: absolute;
      width: 0.3em;
      background-color: #000;
      height: 50%;
      transform: scaleX(0) translateY(-50%);
      transform-origin: left;
      transition: transform 200ms ease-in;
    }
  }

  &-menu {
    letter-spacing: 0.1em;
    position: relative;

    &_divide {
      @extend .flex;

      padding-bottom: 0.4em;
      margin-bottom: -0.4em;

      &:focus .navbar-menu-github_repo,
      & a:focus ~ .navbar-menu-github_repo,
      & a:hover ~ .navbar-menu-github_repo,
      &:hover .navbar-menu-github_repo {
        transform: translateX(0%);

        visibility: visible;
        opacity: 1;
        pointer-events: unset;
      }

      & .navbar-menu-github_repo {
        transform: translateX(-100%);
        visibility: hidden;

        opacity: 0;
        pointer-events: none;
        position: absolute;
        top: 1.9em;
        right: 0;
        width: max-content;
        transition: transform 200ms ease-in;

        a {
          position: relative;
        }
      }
    }

    a {
      @extend .flex;
      @extend .highlight;

      align-items: center;
      z-index: 1;
    }

    &_icon {
      width: 1em;
    }
  }

  &-right {
    @extend .flex;

    text-transform: uppercase;
    gap: 1em;
  }

  &-container {
    @extend .flex;

    justify-content: space-between;
    align-items: center;
    padding: 0 1.5em;
    font-weight: 600;
  }
  li {
    list-style: none;
  }
}
