.ew-navbar {
    display: grid;
    grid-template-columns: auto 1fr;
    position: sticky;
    background-color: #2c2c2c;
    width: 100%;
    top: 0;
    z-index: 50;
    min-height: 70px;
}
.ew-navbar_brand,.ew-navbar_text {
    margin: auto 0;
}
.ew-navbar_brand img {
    height: 45%;
    margin-left: 20px;
    max-height: 30px;
}
* {
    box-sizing: border-box;
    transition: 100ms ease-in;
}
:root {
    font-size: 14px;
}
a {
    text-decoration: none;
}
body {
    background-color: #212121;
    color: #e6e6e6;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
}
.project {
    border: 4px solid #2c2c2c;
    padding: 0px 20px;
    padding-bottom: 40px;
    position: relative;
    overflow-y: auto;
    max-width: 500px;
    height: calc(100vh - 70px);
}
.project .header {
    background-color:  #212121;
    position: sticky;
    top: 0;
    z-index: 20;
    padding: 20px;
}
.button {
    cursor: pointer;
    font-size: 0.8rem;
    padding: 10px;
    height: fit-content;
    top: 0;
    right: 0;
    background-color: green;
    color: #e6e6e6;
    border: none;
    outline: none;
}
.button:hover {
    filter: grayscale(50%);
}
.flex {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
#post,.preview,.raw-output,.log-area {
    height: fit-content;
}
#post,.preview  {
    font-size: 1rem;
    min-height: 20vh;
    padding: 20px;
    position: relative;
    max-width: 400px;
    width: 100%;
}
.raw,.log {
    max-width: 400px;
    width: 100%;
}
.raw-output {
    cursor: default;
    font-size: 1rem;
    width: 100%;
    min-height: 150px;
    resize: none;
    outline: none;
    padding: 10px;
}
.raw-header {
    display: flex;
}
.preview {
    background-color: #191919;
    color: #cecece;
    overflow-y: auto;
    padding-bottom: 40px;
}
.text {
    cursor: default;
    background-color: #27303b;
}
.text:hover {
    filter: none;
}
.preview::after {
    content: "Preview";
    background-color: #27303b;
    font-size: 0.8rem;
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 10px;
}
.preview::first-letter {
    text-transform: capitalize;
}
.preview h1,
.preview h2,
.preview h3,
.preview h4,
.preview h5,
.preview h6 {
    border-left: 5px solid #2078eb;
    padding-left: 10px;
    z-index: 0;
}
.preview-image {
    width: 100%;
    object-fit: cover;
    object-position: bottom;
    max-height: 150px;
}
#post {
    border: none;
    border-left: 10px solid #333333;
    background-color: #2c2c2c;
    color: #e6e6e6;
    font-family: Arial, Helvetica, sans-serif;
    outline: none;
    resize: none;
}
.postcounter {
    display: inline;
}
.log-header {
    position: relative;
}
.circle {
    display: block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    z-index: 4;
}
.red {background-color: #f13b3b;}
.green {background-color: #19f119;}
.yellow {background-color: yellow;}
.circle:nth-child(2) {
    margin-right: 17px;
}
.circle:nth-child(3) {
    margin-right: 34px;
}
.log-area {
    background-color: #050220;
    color: #d3d2d2;
    font-size: 0.9rem;
    padding: 10px;
    height: 400px;
    overflow-y: auto;
}
.log-area > div {
    animation: loading 500ms;
    animation-delay: 30ms;
    padding: 3px 0px;
}
.log-area > div > span {
    background-color: green;
    border-radius: 2px;
    padding: 2px 4px;
}
@keyframes loading {
    0% {
        margin-left: 200px;
    }
    100% {
        margin-left: unset;
    }
}
*::-webkit-scrollbar {
    width: 5px;
}
*::-webkit-scrollbar-track {
    background-color: transparent;
}
@media screen and (min-width: 1444px) {
    :root {
        font-size: 16px;
    }
}