$bg-color: hsl(0, 0%, 18%);
$db-color: hsl(0, 0%, 13%);
$dd-color: hsl(0, 0%, 15%);
$ld-color: #43675b;
$lt-color: hsl(0, 0%, 56%);
$tx-color: #e4f0fc;
$ac-color: #386640;
$bt-color: #386640;
$lr-color: #a43257;