.container {
  max-width: 80rem;
  margin: auto;
  height: 100%;
  width: 100%;
}

.flex {
  display: flex;
}

.temp {
  outline: 2px solid red;
}

.skipto {
  position: fixed;
  left: 0;
  top: 0;
}