.container {
  max-width: 80rem;
  margin: auto;
  height: 100%;
  width: 100%;
}

.flex {
  display: flex;
}

.temp {
  outline: 2px solid red;
}

.skipto {
  position: fixed;
  left: 0;
  top: 0;
  transform: translateY(-120%);
  transition: transform 200ms ease;

  &:focus {
    transform: translateY(0);
  }
}